.env
__pycache__/
last_request.json
last_prompt.txt
last_reply.txt
images/
telegram-bot/data/*
!telegram-bot/data/.htaccess
telegram-bot.zip
perchance-bridge-extension/config.js
telegram-bot/knowledge/*
!telegram-bot/knowledge/.htaccess
!telegram-bot/knowledge/README.md
telegram-bot-update.zip
perchance-telegram-extension/config.js
